# Created by venv; see https://docs.python.org/3/library/venv.html
.env

#directories
venv/
bin/
__pycache__/
*.pyc

#general files
twitch_token.json
spotify_token.json
test.py
json*
*txt
configs.py
auth_handler.py
